*{
     margin: 0;
     padding: 0;
}
nav{
     display: flex;
     justify-content: space-between;
     background-color: #1A1244;
     padding: 10px 200px;
     border-bottom: 4px solid #401E63;
}
nav ul{
     display: flex;
}
nav ul li{
     list-style-type: none;
     margin: 10px 5px;
}
nav ul li a{
     text-decoration: none;
     color: white;
     font-weight: bold;
     font-size: 20px;
     padding: 10px 20px;
     transition: 0.5s;
}
nav ul li a:hover{
     background-color: black;
     color: red;
     border-radius: 5px;
}
nav div{
     color: white;
     font-size: 20px;
}

/* hero area code start */

header{
     background-image: url('images/website\ banner.jpg');
     padding: 200px 0;
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
}
.searchBox-icon-parent{
     display: flex;
     justify-content: center;
     align-items: center;
}
.searchBox-icon-parent i{
     color: red;
     background-color: green;
     font-size: 25px;
     height: 40px;
     width: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 5px;
     cursor: pointer;
     margin-left: -10px;
}
.searchBox-icon-parent input{
     width: 500px;
     height: 40px;
     border-radius: 5px;
     font-size: 20px;
     padding: 5px 20px;
}

/* main section code start */

main{
     background-color: #2D236A;
     padding-top: 20px;
}
#main-section{
     width: 1100px;
     margin: 0 auto;
     padding: 50px 0;
}
#latest-video-parent{
     display: flex;
     justify-content: space-between;
}
.latest-video-text{
     font-size: 25px;
     color: #04AA6D;
     font-weight: bold;
}
.latest-pages{
     color: #04AA6D;
}
.latest-pages span{
     color: black;
     background-color: antiquewhite;
     border: 1px solid #8080805b;
     padding: 5px;
     border-radius: 4px;
     margin: 0 10px;
     cursor: pointer;
}